<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDI-Note</title>

    <!-- Bootstrap CSS -->
    <link
      href="/file?path=libraries/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/file?path=pages/index/style.css" />
  </head>
  <body>
    <input type="text" name="search" id="search" autofocus placeholder="Search" />
    <button type="button" class="btn btn-primary" onclick="document.location.href = '/create';">
      Tambah catatan
    </button>

    <div id="note-list"></div>

    <!-- Bootstrap JavaScript -->
    <script src="/file?path=libraries/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.min.js"></script>

    <script src="/file?path=pages/index/script.js"></script>
  </body>
</html>
