<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDI-Note</title>

    <link rel="shortcut icon" href="/file?path=assets/images/favicon.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link
      href="/file?path=libraries/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/file?path=pages/index/style.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>MDI-Note</strong></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile/<%= userEmail %>">Profile</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /navbar -->

    <!-- content -->
    <div id="content">
      <!-- content-bar -->
      <div id="content-bar">
  
        <input type="text" name="search" id="search" placeholder=" Search" />
        <button type="button" class="btn btn-primary" onclick="document.location.href = '/create';">
          Add note
        </div>
      <!-- /content-bar -->
      </button>
      <div id="note-list">
        <!-- Note list -->
      </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <footer id="footer" class="bg-primary">
      <div class="text-muted text-center">
        <span>&copy;16/02/2021 built by Daffa Ilhami</span>
      </div>
    </footer>
    <!-- <footer class="footer mt-auto py-3 bg-light" style="position: absolute; bottom: 0;">
      <p class="text-muted" style="text-align: center;">&copy;2021</p>
    </footer> -->
    <!-- /footer -->

    <!-- Bootstrap JavaScript -->
    <script src="/file?path=libraries/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.min.js"></script>

    <script src="/file?path=pages/index/script.js"></script>
  </body>
</html>
